{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index.name }} - {{ 'search'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': {'url': path('indices')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index.name, 'badge': {'title': index.health|trans, 'context': index.health}}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index/index_read_tabs.html.twig' with {'active': 'search'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.form({'form': form, 'type': 'search'}) }}
        {% endblock %}
    {% endembed %}

    {% if documents is defined %}
        {% embed 'Embed/card_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 3, 'title': 'documents'|trans, 'badge': {'title': documents.total}}) }}

                {% if 0 < documents.total %}
                    {% if is_granted('INDEX_EXPORT', index) %}
                        {% embed 'Embed/buttons_embed.html.twig' %}
                            {% block content %}
                                <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'csv', 'delimiter': ','}|merge(app.request.query.all)) }}">CSV,</a>
                                <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'csv', 'delimiter': ';'}|merge(app.request.query.all)) }}">CSV;</a>
                                <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'csv', 'delimiter': '\t'}|merge(app.request.query.all)) }}">TSV</a>
                                <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'ods'}|merge(app.request.query.all)) }}">ODS</a>
                                <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'xlsx'}|merge(app.request.query.all)) }}">XLSX</a>
                                {% if true == index.hasMappingType('geo_point') or true == index.hasMappingType('geo_shape') %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('indices_read_export', {'index': index.name, 'type': 'geojson'}|merge(app.request.query.all)) }}">GEOJSON</a>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}

                    {% include 'Modules/index/index_read_search_list.html.twig' with {'documents': documents} %}

                    {% if documents._scroll_id is defined %}
                        <a id="scroll" class="btn btn-primary btn-sm" href="{{ documents._scroll_id }}">
                            {{ 'more'|trans }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        var form = document.querySelector('form');
        var page = document.getElementById('page');

        form.addEventListener('submit', function(event) {
            page.value = 1;
        });

        {% if documents is defined %}
            $(document).on('click', '#scroll', function(event) {
                event.preventDefault();
                var body = {'_scroll_id': $(this).attr('href')};
                var url = '{{ path('indices_read_search_scroll', {'index': index.name}) }}';
                fetch(url, {
                    credentials: 'include',
                    method: 'POST',
                    body: JSON.stringify(body),
                    mode: 'cors',
                }).then(function(response) {
                    return response.json();
                }).then(function(json) {
                    if (true == json.error) {
                        $('nav').after('<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">' + json.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        window.scrollTo(0, 0);

                    } else {
                        var documents = json['content']['documents'];

                        if (typeof json['content']['_scroll_id'] != 'undefined' && 0 < documents.length) {
                            $('#scroll').attr('href', json['content']['_scroll_id']);
                        } else {
                            $('#scroll').remove();
                        }

                        for (var document in documents) {
                            var document = documents[document];
                            var tr = '<tr>';
                            tr += `<td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal${document['_id']}">
                                    {{ 'source'|trans }}
                                </button>

                                <div class="modal fade" id="modal${document['_id']}" tabindex="-1" role="dialog" aria-labelledby="modalLabel${document['_id']}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel${document['_id']}">#${document['_id']} ({{ 'source'|trans }})</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <pre>${document['_source']}</pre>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>`;
                            tr += '<td>' + document['_id'] + '</td>';
                            tr += '<td>' + document['_score'] + '</td>';
                            for (var field in document['fields']) {
                                tr += '<td>' + document['fields'][field]['value'] + '</td>';
                            }
                            tr += '</tr>';
                            $('tbody').append(tr);
                        }
                    }
                }).catch(function(error) {
                    console.log(error);
                });
            });
        {% endif %}
    </script>
{% endblock %}
